/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*--------------------/*CSS - Paginas --------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
html, body {
    /*background-image: url('../img/fundologin.jpg');*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.sectionint {
    width: 60%;
}

#section1 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #000;
}

#section2 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #009688;
    background-image: url("../img/Festa_eventos.jpg");
    /* Efeito parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4 {
    padding-top: 50px;
    height: 1200px;
    color: #fff;
    background-color: #00bcd4;
}

#section5 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #009688;
    background-image: url("../img/Festa_eventos2.jpg");
    /* Efeito parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section6 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #ff9800;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------CSS - Rodape-----------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}

    .footer nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

        .footer nav ul li {
            display: inline-block;
            padding: 10px 15px;
            margin: 15px 3px;
            line-height: 20px;
            text-align: center;
        }

        .footer nav ul a:not(.btn) {
            color: #66615b;
            display: block;
            margin-bottom: 3px;
        }

            .footer nav ul a:not(.btn):focus, .footer nav ul a:not(.btn):hover {
                color: #403D39;
            }

    .footer .copyright {
        color: #66615b;
        padding: 10px 15px;
        font-size: 14px;
        white-space: nowrap;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center;
    }

    .footer .heart {
        color: #EB5E28;
    }
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------CSS - SlideShow--------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.cb-slideshow,
.cb-slideshow:after {
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.li {
    list-style: none !important;
}

.cb-slideshow:after {
    content: '';
    background: transparent url(../img/pattern.png) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}

    .cb-slideshow li div h3 {
        font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
        font-size: 240px;
        padding: 0;
        line-height: 200px;
    }

.cb-slideshow li:nth-child(1) span {
    background-image: url(../img/img1.jpg);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../img/img2.jpg);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../img/img3.jpg);
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../img/img4.jpg);
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../img/img1.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../img/img2.jpg);
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    19% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 140px;
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 80px;
    }
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------CSS - LOGIN MODAL-------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}